<!doctype html>
<html ng-app='lifeApp'>
	<head>
		<meta charset='utf-8'>
		<title>Life</title>

		<link rel="stylesheet" type="text/css" href="../Internal Project/css/styles.css">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	</head>
	<body>
		<div ng-controller='lifeController'>

		<div class="d-flex justify-content-between">
    		<div>
    			<canvas id='lifeField' width='800px' height='800px' style='border: 1px solid; float: left;'></canvas>	</div>
			</div>

			<div align="center">
				<input id='startButton' type='button' class="btn btn-default" value='Start'></input>
				<input id='stopButton'  type='button' class="btn btn-default" value='Stop'></input>			
				<input id='saveButton'  type='button' class="btn btn-default" ng-click="downloadMatrix(getMapJSON(), 'Matrix.txt', 'text/plain')" value='Save'></input>	
				<input id='clearButton'  type='button' class="btn btn-default" ng-click="clearMap()" value='Clear'></input>
				<hr>
				<div class="custom-checkbox">
				    <input type="checkbox" ng-model='circleBorders' id='cb1' checked="">
				    <label for="cb1">Borderless</label>
				</div>
				<hr>
				<div >
					<label  class="btn btn-default radio-button">
						<input type="radio" ng-model="speed" ng-change="changeSpeed(speed)" ng-value="2000">
						Super Slow
					</label>
					<label class="btn btn-default radio-button">
						<input type="radio" ng-model="speed" ng-change="changeSpeed(speed)" ng-value="1000">
						Slow
					</label>
					<label class="btn btn-default radio-button">
						<input type="radio"  ng-model="speed" ng-change="changeSpeed(speed)" ng-value="200">
						Fast
					</label>
					<label class="btn btn-default radio-button">
						<input type="radio" ng-model="speed" ng-change="changeSpeed(speed)" ng-value="10">
						Super Fast
					</label>	
				</div>					
				<hr>
				<input id="fileInput" type="file" value='Open' />								
			</div>
			
			<script type='text/javascript' src='../Internal Project/js/lib/angular.js'></script>
			<script type='text/javascript' src='../Internal Project/js/lib/ng-fileDialog.js'></script>
			<script type='text/javascript' src='../Internal Project/js/app.js'></script>
			<script type='text/javascript' src='../Internal Project/js/controllers/lifeController.js'></script>

		</div>	
	</body>
</html>

